<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
             http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="dubbo-consumer"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181" check="false"/>

    <dubbo:reference id="menuRemoteService" interface="com.feast.demo.menu.service.MenuService"/>

    <dubbo:reference id="dishesCategoryRemoteService" interface="com.feast.demo.menu.service.DishesCategoryService"/>

    <dubbo:reference id="ingredientsRemoteService" interface="com.feast.demo.menu.service.IngredientsService"/>

    <dubbo:reference id="adRemoteService" interface="com.feast.demo.ad.service.AdService"/>

    <dubbo:reference id="userRemoteService" interface="com.feast.demo.user.service.UserService"/>

    <dubbo:reference id="deviceRemoteService" interface="com.feast.demo.device.service.DeviceService"/>

    <dubbo:reference id="storeRemoteService" interface="com.feast.demo.store.service.StoreService"/>

    <dubbo:reference id="orderRemoteService" interface="com.feast.demo.order.service.OrderService"/>

    <dubbo:reference id="couponRemoteService" interface="com.feast.demo.coupon.service.CouponService"/>

    <dubbo:reference id="tableRemoteService" interface="com.feast.demo.table.service.TableService"/>

    <dubbo:reference id="categoryMenuRemoteService" interface="com.feast.demo.menu.service.CategoryMenuService"/>

    <dubbo:reference id="bidService" interface="com.feast.demo.bid.service.BidService"/>

    <dubbo:reference id="cacheService" interface="com.feast.demo.cache.service.CacheService"/>

    <dubbo:reference id="bidRecordService" interface="com.feast.demo.order.service.BidRecordService"/>

    <dubbo:reference id="feedbackRemoteService" interface="com.feast.demo.feedback.service.FeedbackService"/>

    <dubbo:reference id="redPackageRemoteService" interface="com.feast.demo.redPackage.service.RedPackageService"/>

    <dubbo:reference id="redPackageDetailRemoteService" interface="com.feast.demo.redPackage.service.RedPackageDetailService"/>

    <dubbo:reference id="versionRemoteService" interface="com.feast.demo.version.service.VersionService"/>
</beans>